@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

header {
    background-color: var(--primary-color);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
}

header .logo {
    display:flex;
    align-items: center;
    column-gap: 1em;
    letter-spacing: 0.3em;
    color: var(--secondary-color);
}

header img {
    height:5vh;
}

h2 {
    text-transform: capitalize;
    color: var(--secondary-color);
}

.banner {
    padding: 2em 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    width: 85%;
    padding-bottom: 1.5em;
}

.banner-card {
    width: 85%;
    height: 200px;
    box-shadow: 0 0 50px 0 rgba(51, 64, 79, 0.15);
    border-radius: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.banner-card img {
    height: 80px;
    padding: 0 1em 0 0;
}