@import url(variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF-Pro-Text-Regular";
}

a {
    text-decoration: none;
}

header {
  background-color: var(--primary-color);
  height: 8svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

header .logo {
  display: flex;
  align-items: center;
  column-gap: 1em;
  letter-spacing: 0.3em;
  color: var(--secondary-color);
}

header img {
  height: 5svh;
}

h3 {
  text-transform: capitalize;
  color: var(--secondary-color);
}

.banner {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  width: 90%;
  padding-bottom: 0.5em;
}

.banner-card {
  width: 90%;
  max-width: 360px;
  height: 18svh;
  box-shadow: 0 0 50px 0 rgba(51, 64, 79, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.banner-card img {
  height: 100px;
  padding: 0 2.5em 0 0;
  z-index: 1;
}

.banner-card .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: var(--light-primary-color);
  border-radius: 50%;
  left: -30%;
}

#close-icon {
    position: absolute;
    top: 0.5em;
    right: -1em;
    height: 1.8em;
    z-index: 2;
}

.banner-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;
  z-index: 1;
}

div.banner-info > a {
  background-color: var(--primary-color);
  font-weight: 600;
  color: var(--text-color);
  padding: 0.7em 2.5em;
  border-radius: 1.5em;
}

.banner-info p {
  color: var(--light-secondary-color);
}



main {
  height: 55svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5%;
}

.main-title {
  padding: 1em 0;
  width: 90%;
}

.cards {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  column-gap: 1em;
}

.card {
  flex: 0 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: var(--text-color);
}

.card .card-bg {
  height: 100%;
  z-index: -1;
  grid-area: 1 / 1 / 4 / 4;
}

.card p {
  grid-area: 1 / 3 / span 1 / span 1;
  justify-self: start;
}

.card h2 {
  grid-area: 2 / 1 / span 1 / span 3;
  align-self: center;
  justify-self: center;
}

.card .logo {
  grid-area: 3 / 1 / span 1 / span 2;
  justify-self: start;
  padding-left: 1em;
}
