@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --primary-color: #00DDA3;
    --light-primary-color: #E1FFEF;
    --secondary-color: #33404F;
    --light-secondary-color: #33404f7E;
    --text-color: #fff;
}
