<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="../js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="../storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <section class="total-balance">
        <div><h2>Total Balance $214,417</h2></div>
    </section>

    <section class="middle-nav">
        <a href="#">Assets</a>
        <a href="#">Debt</a>
        <a href="#">Income</a>
    </section>
</body>
</html>