<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="../js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="../storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <main id="profile">
        <header>
            <div class="logo">
                <img src="../storage/img/logo.svg" />
                <h1>INVETO</h1>
            </div>
            <div class="top-menu">
                <img src="../storage/img/menu-top.svg" />
            </div>
        </header>
        <section class="profile-banner">
            <h1 id="greeting">Hi, Arthur!</h1>
            <p>Here's Your Balance.</p>
            <article>
                <p>SAVINGS</p>
                <h3>$ 15,615</h3>
                <div class="balance-bar">
                    <div id="progress-bar-1"></div>
                </div>
            </article>
            <article>
                <p>ASSETS</p>
                <h3>$ 9,615</h3>
                <div class="balance-bar">
                    <div id="progress-bar-2"></div>
                </div>
            </article>
        </section>
        <section class="main-content">
            <h3>Activities</h3>
            <div class="activities">
                <article>
                    <img src="../storage/img/account.svg" />
                    <p>Account</p>
                </article>
                <article>
                    <img src="../storage/img/privacy.svg" />
                    <p>Privacy</p>
                </article>
                <article>
                    <img src="../storage/img/help.svg" />
                    <p>Help</p>
                </article>
            </div>
            <h3>Transactions</h3>
            <div class="transactions">
                <article>
                    <img src="../storage/img/balance-up.svg" />
                    <p>Food & Beverage</p>
                    <small>Five Lods</small>
                </article>
                <article>
                    <img src="../storage/img/balance-up.svg" />
                    <p>Entertainment</p>
                    <small>PornHub</small>
                </article>
                <article>
                    <img src="../storage/img/balance-up.svg" />
                    <p>Food & Beverage</p>
                    <small>WallMart</small>
                </article>
                <article>
                    <img src="../storage/img/balance-up.svg" />
                    <p>Shopping</p>
                    <small>Target</small>
                </article>
                <article>
                    <img src="../storage/img/balance-up.svg" />
                    <p>Subscriptions</p>
                    <small>Netflix</small>
                </article>
                <article>
                    <img src="../storage/img/balance-up.svg" />
                    <p>Shopping</p>
                    <small>Oxxo</small>
                </article>
            </div>
        </section>
    </main>
    <nav>
        <ul>
            <li><a href="#"><img src="../storage/img/home.svg" alt=""></a></li>
            <li><a href="balance.html"><img src="../storage/img/content.svg" alt=""></a></li>
            <li><a href="../index.html"><img src="../storage/img/menu.svg" alt=""></a></li>
            <li><a href="#"><img src="../storage/img/notification.svg" alt=""></a></li>
            <li><a href="profile.html"><img src="../storage/img/user.svg" alt=""></a></li>
        </ul>
    </nav>
</body>

</html>